.form-wrapper
  position: relative
  font-family: 'Raleway'
  &_sent
    .form
      filter: blur(10px)
    .form__dialog
      display: flex
  &_check
    .form__group_check-invalid .form__check-label
      color: red
    .form__group_invalid
      border-bottom: 1px solid red !important
  &_phone
    .form__type-label
      font-size: 20px

.form
  display: block
  padding: 50px 10px 10px 10px
  position: relative
  transition: filter .2s ease-in-out
  &__fields, &__type-fields
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__description
    margin: 20px 0
  &__group
    position: relative
    border-bottom: 1px solid #ccc
    &_name, &_email, &_phone
      width: 32%
    &_message
      width: 100%
      margin-top: 50px
    &_name, &_email, &_phone, &_message
      box-sizing: border-box
      padding: 0px 5px
  &__input
    box-sizing: border-box
    width: 100%
    background: none
    border: none
    font-size: .8em
    &:focus
      outline: none
      + .form__label
        transform: translateY(-20px)
        font-size: .8em
    &_has_value
      + .form__label
        transform: translateY(-20px)
        font-size: .8em
  &__label
    position: absolute
    top: 0px
    color: #ccc
    left: 5px
    font-size: .9em
    transition: transform .3s ease-in-out
  &__check-buttons
    display: flex
    margin-top: 60px
  &__check-group
    position: relative
    width: 200px
  &__check-label
    position: absolute
    left: 23px
    font-size: .8em
    width: 150px
    color: gray
    line-height: 18px
    top: 2px
  &__type-group
    cursor: pointer
    margin-bottom: 60px
    input
      display: none
    input:checked + .form__type-label
      color: #000
  &__type-label
    color: lighten(#ccc, 5%)
    font-family: 'Ailerons'
    font-size: 25px
    transition: color .3s ease-in-out
  &__submit
    position: absolute
    cursor: pointer
    right: 20px
    bottom: 0px
    border: none
    background: none
    font-size: .9em
    &:after
      content: '\f178'
      margin-left: 10px
      display: inline-block
      font-family: FontAwesome
      transition: transform .3s ease-in-out
    &:focus
      outline: none
    &:hover
      &:after
        transform: translateX(5px)
  &__dialog
    position: absolute
    top: 0
    animation: .3s fadeIn backwards .3s
    left: 0
    right: 0
    bottom: 150px
    display: none
    align-items: center
    justify-content: center
    color: #000
    font-size: 30px

@media only screen and (max-width: 1024px)
  .form
    &__type-group
      margin-bottom: 10px
    &__fields
      margin-top: 30px
      > label
        width: 100%
        margin-bottom: 30px
    &__check-buttons
      flex-wrap: wrap
      margin-top: 0
      > *
        width: 100%
        margin-bottom: 30px
    &__submit
      position: relative
      right: 5px
    &__group_message
      margin-top: 0px
