.nav
  position: fixed
  top: 0
  padding: 10px 20px
  width: 100%
  box-sizing: border-box
  z-index: 2
  display: flex
  justify-content: space-between
  align-items: center
  &__right-side
    display: flex
    align-items: center
    justify-content: space-between
    width: 200px
  &_black
    opacity: .25
    transition: opacity .2s ease-in-out
    &:hover
      opacity: 1

.nav-logo
  text-decoration: none
  width: 150px
  box-sizing: border-box
  padding: 5px
  transition: .3s ease-in-out
  position: relative
  top: 5px
  img
    width: 100%

@media only screen and (max-width: 1024px)
  .nav-logo
    display: none
  .dropdown-menu
    position: fixed !important
    top: 15px
    right: 10px
    z-index: 2

.mouse-tap
  position: absolute
  width: 60px
  height: 60px
  background-image: url(../index/fingerprint.png)
  background-size: 100%
  transform: translate(-50%, -50%) scale(.5)
  z-index: 20
  transition: all .2s ease-in-out
  animation: .2s scaleUp forwards

@keyframes scaleUp
  0%
    transform: translate(-50%, -50%) scale(.5)
  100%
    transform: translate(-50%, -50%) scale(1)
