.nav
  position: fixed
  top: 0
  padding: 10px 20px
  width: 100%
  box-sizing: border-box
  background: rgba(0,0,0,.2);
  z-index: 2
  display: flex
  justify-content: space-between
  align-items: center
  &__right-side
    display: flex
    align-items: center
    justify-content: space-between
    width: 200px

.box-menu
  &__list
    margin: 0
    padding: 0
    display: flex
  &__item
    list-style: none
    &:first-child .box-menu__link
      left: 0
    &:last-child .box-menu__link
      left: -2px
  &__link
    display: block
    text-decoration: none
    font-family: sans-serif
    font-weight: lighter
    text-transform: uppercase
    letter-spacing: 1px
    font-size: .8em
    padding: 10px 30px
    position: relative
    left: -1px
    transition: opacity .2s ease-in-out
    &:hover
      opacity: .7
  &_white
    .box-menu__link
      color: #fff
      border: 1px solid #fff

.nav-logo
  width: 150px
  box-sizing: border-box
  padding: 5px
  position: relative
  top: 5px
  img
    width: 100%
