<!doctype html>
<html class="no-js" lang="">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title><%= htmlWebpackPlugin.options.title %></title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
	<body>
		<!--[if lt IE 8]>
			<div class="browserupgrade">
				<p><strong>YOUR BROWSER IS FROM ANOTHER ERA</strong></p>
				<p>he's witnessed asteroid that wiped out dinosaurs<br/>he's so ancient that he can barely render your page</p>
				<p>Please,<a href="http://browsehappy.com/">update it</a></p>
			</div>
		<![endif]-->
		<div class="control">
			<ul>
				<li class="control__item" data-item="seating">seating</li>
				<li class="control__item" data-item="beds">beds</li>
				<li class="control__item" data-item="decor">decor</li>
				<li class="control__item" data-item="lighting">lighting</li>
				<li class="control__item" data-item="kitchen">kitchen</li>
				<li class="control__item" data-item="bathroom">bathroom</li>
                <li class="control__item" data-item="about">about</li>
				<li class="control__item" data-item="tables">tables</li>
			</ul>
		</div>
		<div class="content">
			<div class="content__item about">
				<div class="about__image"></div>
				<p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quasi cum aut iure, quidem cumque velit repudiandae, laboriosam laudantium culpa maiores quam ad beatae atque voluptate autem. Quas facere itaque temporibus. Assumenda quasi nemo porro debitis, maiores dolorem error non totam vel, saepe eveniet provident nulla eos illum. Optio, iure laudantium. Delectus itaque fuga fugiat. Provident doloribus natus, ipsum commodi repellendus quo quaerat incidunt ducimus, consectetur ut inventore magnam, odio.</p>
				<a href="#" class="read-more-button">read more</a>
				<div class="back-button">back</div>
			</div>
			<div class="content__item tables">
				<p class="tables__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magni debitis officia, architecto nemo laboriosam dicta! Mollitia repellat recusandae, exercitationem porro, itaque accusantium, repellendus similique quaerat nobis nihil rerum vel voluptate necessitatibus sunt inventore possimus.</p>
				<div class="product-button">view products</div>
				<div class="table-image"></div>
				<div class="back-button">back</div>
			</div>
			<div class="content__item seating">
				<p class="seating__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magni debitis officia, architecto nemo laboriosam dicta! Mollitia repellat recusandae, exercitationem porro, itaque accusantium, repellendus similique quaerat nobis nihil rerum vel voluptate necessitatibus sunt inventore possimus.</p>
				<div class="product-button">view products</div>
				<div class="table-image"></div>
				<div class="back-button">back</div>
			</div>
			<div class="content__item beds">
				<p class="tables__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magni debitis officia, architecto nemo laboriosam dicta! Mollitia repellat recusandae, exercitationem porro, itaque accusantium, repellendus similique quaerat nobis nihil rerum vel voluptate necessitatibus sunt inventore possimus.</p>
				<div class="product-button">view products</div>
				<div class="table-image"></div>
				<div class="back-button">back</div>
			</div>
			<div class="content__item decor">
				<p class="decor__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magni debitis officia, architecto nemo laboriosam dicta! Mollitia repellat recusandae, exercitationem porro, itaque accusantium, repellendus similique quaerat nobis nihil rerum vel voluptate necessitatibus sunt inventore possimus.</p>
				<div class="product-button">view products</div>
				<div class="table-image"></div>
				<div class="back-button">back</div>
			</div>
			<div class="content__item lighting">
				<p class="lighting__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magni debitis officia, architecto nemo laboriosam dicta! Mollitia repellat recusandae, exercitationem porro, itaque accusantium, repellendus similique quaerat nobis nihil rerum vel voluptate necessitatibus sunt inventore possimus.</p>
				<div class="product-button">view products</div>
				<div class="table-image"></div>
				<div class="back-button">back</div>
			</div>
			<div class="content__item kitchen">
				<p class="kitchen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magni debitis officia, architecto nemo laboriosam dicta! Mollitia repellat recusandae, exercitationem porro, itaque accusantium, repellendus similique quaerat nobis nihil rerum vel voluptate necessitatibus sunt inventore possimus.</p>
				<div class="product-button">view products</div>
				<div class="table-image"></div>
				<div class="back-button">back</div>
			</div>
			<div class="content__item bathroom">
				<p class="bathroom__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magni debitis officia, architecto nemo laboriosam dicta! Mollitia repellat recusandae, exercitationem porro, itaque accusantium, repellendus similique quaerat nobis nihil rerum vel voluptate necessitatibus sunt inventore possimus.</p>
				<div class="product-button">view products</div>
				<div class="table-image"></div>
				<div class="back-button">back</div>
			</div>
		</div>
	</body>
</html>
